
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
}
@font-face {
	font-family: 'MuseoSans500';
	src: url('../fonts/MuseoSans500/MuseoSans500.eot');
	src: url('../fonts/MuseoSans500/MuseoSans500.woff') format('woff'), url('../fonts/MuseoSans500/MuseoSans500.ttf') format('truetype'), url('../fonts/MuseoSans500/MuseoSans500.svg') format('svg');
}
@font-face {
	font-family: 'Proximanova-bold';
	src: url('../fonts/proximanova-bold/proximanova-bold.eot');
	src: url('../fonts/proximanova-bold/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold/proximanova-bold.ttf') format('truetype'), url('../fonts/proximanova-bold/proximanova-bold.svg') format('svg');
}
@font-face {
	font-family: 'Proximanova-regular';
	src: url('../fonts/proximanova-regular/proximanova-regular.eot');
	src: url('../fonts/proximanova-regular/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular/proximanova-regular.ttf') format('truetype'), url('../fonts/proximanova-regular/proximanova-regular.svg') format('svg');
}
@font-face {
	font-family: 'Proximanova-semibold';
	src: url('../fonts/proximanova-semibold/proximanova-semibold.eot');
	src: url('../fonts/proximanova-semibold/proximanova-semibold.woff') format('woff'), url('../fonts/proximanova-semibold/proximanova-semibold.ttf') format('truetype'), url('../fonts/proximanova-semibold/proximanova-semibold.svg') format('svg');
}
@font-face {
	font-family: 'Proximanova-semibolditalic';
	src: url('../fonts/proximanova-semibolditalic/proximanova-semibolditalic.eot');
	src: url('../fonts/proximanova-semibolditalic/proximanova-semibolditalic.woff') format('woff'), url('../fonts/proximanova-semibolditalic/proximanova-semibolditalic.ttf') format('truetype'), url('../fonts/proximanova-semibolditalic/proximanova-semibolditalic.svg') format('svg');
}
@font-face {
	font-family: 'TitilliumWeb-Regular';
	src: url('../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.eot');
	src: url('../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.woff') format('woff'), url('../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.ttf') format('truetype'), url('../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.svg') format('svg');
}
@font-face {
   font-family: 'OpenSans-Regular';
   src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'OpenSans-Semibold';
   src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}
