header {
   color:$secondary-text-color;

   .container-fluid {
      padding-right: 0;
      padding-left: 0;
      background-color: $header-bg-color;
   }

   .row {
      margin-right: 0 !important;
   }

   // Navigation top

   .navbar {
      border: none;
      margin-bottom: 0;
   }
   .collapse{
      margin-left: 78px !important;
      padding-right: 0;
      padding-left: 0;
   }

   .nav {
      li{
         margin-right: 7px;
         a{
            text-align: center;
            font-family: 'OpenSans-Regular',sans-serif;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            height: 53px;
            color:$secondary-text-color !important;
         }
         &.active {
            a {
               font-family: 'OpenSans-Semibold',sans-serif;
               font-size: 15px;
               background-color: $primary-bg-color !important;
               color:$primary-text-color !important;
            }
         }
         &.primary {
            width: 183px;
         }
      }
   }

   .login, .find-hotel {
      display: inline-block;
      width: 260px;
      height: 53px;
      background-color: #161616;
      p {
         margin-bottom: 0;
      }
      a {
         font-family: 'OpenSans-Semibold',sans-serif;
         font-size: 14px;
         letter-spacing: 50;
         text-transform: uppercase;
         text-decoration: none;
         color: $secondary-text-color;
      }
   }
   .login {
      text-align: right;
      border-right: 1px solid $header-bg-color;
      img {
         width: 108px;
         height: 39px;
         display: block;
         float:left;
         margin: 7px 0 7px 20px;
      }
      p{
         margin-right:24px;
         line-height: 53px;
      }
   }
   .find-hotel {
      display: flex;
      align-items: center;
      justify-content: center;
      .map-marker{
         margin-right: 15px;
         display: block;
         width: 9px;
         height: 13px;
         background: url("../img/icons/map-marker.png") no-repeat;
      }
   }

   // Navigation bottom
   .navbar-bottom {
      height: 88px;
      background-color: $primary-bg-color;

      .logo {
         padding-left: 8px;
         height: 88px;
         display: flex;
         align-items: center;
      }

      .input-group {
         height: 88px;
         form {
            display: table-cell;
            vertical-align: middle;
         }
      }

      input {
         background: #fff url("../img/icons/arrow-down.png") no-repeat;
         border: none;
         border-radius: 2px;
         margin:0 4px;
         padding: 11px 0 11px 17px;
         font-family: 'Proximanova-regular',sans-serif;
 		   font-size: 18px;
         letter-spacing: 0;
         display: inline-block;
         height: 57px;
         outline: none;
         appearance:none;
         color:$header-input-text-color;
      }

      .select-hotel {
         width: 174px;
         background-position: 141px 25px;
      }
      .select-room {
         width:195px;
         background-position: 165px 25px;
      }
      .select-date {
         width: 155px;
         background:#fff url("../img/icons/calendar.png") no-repeat 125px 19px;
      }

      button {
         border-radius: 2px;
         width: 158px;
      }

      .event-logo {
         background: $header-bg-color;
         width: 261px;
         height: 83px;
         position: absolute;
         right: 0;
         text-align: center;
         p{
            font-family: 'Proximanova-Regular',sans-serif;
            font-size:7px;
            letter-spacing: 2px;
            padding-top: 15px;
         }
         img {
            padding-top: 22px;
         }
      }
   }
}
