@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg"); }

@font-face {
  font-family: 'MuseoSans500';
  src: url("../fonts/MuseoSans500/MuseoSans500.eot");
  src: url("../fonts/MuseoSans500/MuseoSans500.woff") format("woff"), url("../fonts/MuseoSans500/MuseoSans500.ttf") format("truetype"), url("../fonts/MuseoSans500/MuseoSans500.svg") format("svg"); }

@font-face {
  font-family: 'Proximanova-bold';
  src: url("../fonts/proximanova-bold/proximanova-bold.eot");
  src: url("../fonts/proximanova-bold/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold/proximanova-bold.svg") format("svg"); }

@font-face {
  font-family: 'Proximanova-regular';
  src: url("../fonts/proximanova-regular/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular/proximanova-regular.svg") format("svg"); }

@font-face {
  font-family: 'Proximanova-semibold';
  src: url("../fonts/proximanova-semibold/proximanova-semibold.eot");
  src: url("../fonts/proximanova-semibold/proximanova-semibold.woff") format("woff"), url("../fonts/proximanova-semibold/proximanova-semibold.ttf") format("truetype"), url("../fonts/proximanova-semibold/proximanova-semibold.svg") format("svg"); }

@font-face {
  font-family: 'Proximanova-semibolditalic';
  src: url("../fonts/proximanova-semibolditalic/proximanova-semibolditalic.eot");
  src: url("../fonts/proximanova-semibolditalic/proximanova-semibolditalic.woff") format("woff"), url("../fonts/proximanova-semibolditalic/proximanova-semibolditalic.ttf") format("truetype"), url("../fonts/proximanova-semibolditalic/proximanova-semibolditalic.svg") format("svg"); }

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.eot");
  src: url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.woff") format("woff"), url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.ttf") format("truetype"), url("../fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.svg") format("svg"); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0; }

header {
  color: #fff; }
  header .container-fluid {
    padding-right: 0;
    padding-left: 0;
    background-color: #000000; }
  header .row {
    margin-right: 0px !important; }
  header .navbar {
    border: none;
    margin-bottom: 0; }
  header .collapse {
    margin-left: 6% !important;
    padding-right: 0; }
  header .nav li {
    margin-right: 10px; }
    header .nav li a {
      text-align: center;
      font-family: 'OpenSans-Regular',sans-serif;
      font-size: 14px;
      letter-spacing: 50;
      text-transform: uppercase;
      height: 53px;
      color: #fff !important; }
    header .nav li.active a {
      font-family: 'OpenSans-Semibold',sans-serif;
      font-size: 15px;
      background-color: #ffcc00 !important;
      color: #333333 !important; }
    header .nav li.primary {
      width: 183px; }
  header .login, header .find-hotel {
    display: inline-block;
    width: 260px;
    height: 53px;
    background-color: #161616; }
    header .login p, header .find-hotel p {
      margin-bottom: 0; }
    header .login a, header .find-hotel a {
      font-family: 'OpenSans-Semibold',sans-serif;
      font-size: 14px;
      letter-spacing: 50;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff; }
  header .login {
    text-align: right;
    border-right: 1px solid #000000; }
    header .login img {
      width: 108px;
      height: 39px;
      display: block;
      float: left;
      margin: 7px 0 7px 20px; }
    header .login p {
      margin-right: 24px;
      line-height: 53px; }
  header .find-hotel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .find-hotel .map-marker {
      margin-right: 15px;
      display: block;
      width: 9px;
      height: 13px;
      background: url("../img/icons/map-marker.png") no-repeat; }
  header .navbar-bottom {
    height: 88px;
    background-color: #ffcc00; }
    header .navbar-bottom .logo {
      height: 88px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    header .navbar-bottom .input-group {
      margin: 0 auto;
      height: 88px; }
      header .navbar-bottom .input-group form {
        display: table-cell;
        vertical-align: middle; }
    header .navbar-bottom input {
      background: #fff url("../img/icons/arrow-down.png") no-repeat;
      border: none;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      margin: 0 4px;
      padding: 11px 0 11px 17px;
      font-family: 'Proximanova-regular',sans-serif;
      font-size: 18px;
      letter-spacing: 0;
      display: inline-block;
      height: 57px;
      outline: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      color: #999999; }
    header .navbar-bottom .select-hotel {
      width: 174px;
      background-position: 141px 25px; }
    header .navbar-bottom .select-room {
      width: 195px;
      background-position: 165px 25px; }
    header .navbar-bottom .select-date {
      width: 155px;
      background: #fff url("../img/icons/calendar.png") no-repeat 125px 19px; }
    header .navbar-bottom button {
      border: none;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      font-family: 'Proximanova-semibold',sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      outline: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      width: 158px;
      height: 57px;
      background: #000000; }
    header .navbar-bottom .event-logo {
      background: #000000;
      width: 261px;
      height: 83px;
      margin-left: -46px;
      text-align: center; }
      header .navbar-bottom .event-logo p {
        font-family: 'Proximanova-Regular',sans-serif;
        font-size: 7px;
        letter-spacing: 2px;
        padding-top: 15px; }
      header .navbar-bottom .event-logo img {
        padding-top: 22px; }
